<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.app.dao.AppUserMapper">
  <resultMap id="BaseResultMap" type="cn.com.app.pojo.AppUser">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="user_type" jdbcType="INTEGER" property="userType" />
    <result column="user_state" jdbcType="INTEGER" property="userState" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    id, username, password, user_type, user_state, create_time, update_time, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
  	select 
    <include refid="Base_Column_List" />
    from app_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByUserName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from app_user
    where username = #{name,jdbcType=VARCHAR} and user_state = 0 
  </select>
  <select id="page" parameterType="java.util.Map" resultMap="BaseResultMap">
	    select 
	    <include refid="Base_Column_List" />
	    from app_user
	    <where>
	    	user_state = 0  and user_type = 0 
	    		<!-- 1 = 1
				<if test="name !=null and name !=''">
					and appName like concat('%',concat(#{name},'%'))
				</if>
				<if test="developer !=null and developer !=''" >
					and developers like concat('%',concat(#{developer},'%'))
				</if>
				<if test="updateStartTime != null and updateStartTime != ''">
		            AND STR_TO_DATE(updateTime, '%Y-%m-%d %H:%i:%s') 
		            <![CDATA[ >= ]]> STR_TO_DATE(#{updateStartTime} , '%Y-%m-%d %H:%i:%s')
		        </if>
				<if test="updateEndTime != null and updateEndTime != ''">
		            AND STR_TO_DATE(updateTime, '%Y-%m-%d %H:%i:%s') 
		            <![CDATA[ <= ]]> STR_TO_DATE(#{updateEndTime} , '%Y-%m-%d %H:%i:%s')
		        </if>  -->
		</where> 
		order by ${sortField} ${sortDirection}
		limit ${rowstart},${pageSize}
  </select>
  <select id="getUserInfoCount" parameterType="java.util.Map" resultType="java.lang.Integer">
    select 
	    count(*)
    from app_user
     <where>
     user_state = 0  and user_type = 0 
    		<!-- 1 = 1
			<if test="name !=null and name !=''">
				and appName like concat('%',concat(#{name},'%'))
			</if>
			<if test="developer !=null and developer !=''">
				and developers like concat('%',concat(#{developer},'%'))
			</if>
			<if test="updateStartTime != null and updateStartTime != ''">
	            AND STR_TO_DATE(updateTime, '%Y-%m-%d %H:%i:%s') 
	            <![CDATA[ >= ]]> STR_TO_DATE(#{updateStartTime} , '%Y-%m-%d %H:%i:%s')
	        </if>
			<if test="updateEndTime != null and updateEndTime != ''">
	            AND STR_TO_DATE(updateTime, '%Y-%m-%d %H:%i:%s') 
	            <![CDATA[ <= ]]> STR_TO_DATE(#{updateEndTime} , '%Y-%m-%d %H:%i:%s')
	        </if>  -->
	</where> 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from app_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.com.app.pojo.AppUser">
    insert into app_user (id, username, password, 
      user_type, user_state, create_time, update_time, remark
      )
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{userType,jdbcType=INTEGER}, #{userState,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP},
       #{update_time,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.com.app.pojo.AppUser">
    insert into app_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="userType != null">
        user_type,
      </if>
      <if test="userState != null">
        user_state,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="remark != null">
        remark
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="userType != null">
        #{userType,jdbcType=INTEGER},
      </if>
      <if test="userState != null">
        #{userState,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR}
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.app.pojo.AppUser">
    update app_user
    <set>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="userType != null">
        user_type = #{userType,jdbcType=INTEGER},
      </if>
      <if test="userState != null">
        user_state = #{userState,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR}
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.app.pojo.AppUser">
    update app_user
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      user_type = #{userType,jdbcType=INTEGER},
      user_state = #{userState,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>